.a{
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;

}

.a-right{
    flex: 1;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;

}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 
/* .a-right a{
    
    font-size: 20px;
    width: 150px;
    padding: 10px;
    margin-top: 15px;
    height: 50px;
    
}  */

.a .a-right a{
    font-size: 20px;
    width: 150px;
    padding: 10px;
    margin-top: 30px;
    height: 40px;
    background-color: #59b256;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;

}

@media screen and (max-width: 850px) {
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .a-left{
        width: 100%;
    }
    .a-card{
        height: 30vh;
        
    }

    .a-card.bg {
        display: none;
    }

    .a-right{
        padding: 20px;
    }

    .a .a-right a{
        margin-left: 150px;
    }

}