.sl{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sl-texts{
    width: 65%;
    
}

.sl-title{
    font-size: 50px;
    font-weight: 600;
    color:  #59b256;
}

.sl-desc{
    margin: 20px 0px;
}

.line{
    border-bottom: 4px solid red;
    width: 50%;
    margin-left: 200px;
}

.sl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
     .sl{
        width: 60%;
        height: 20vh;
     }

     .sl-title{
         font-size: 20px;
         text-align: center;
         margin-left: 30px;
     }

    .sl-desc{
        width: 300px;
        margin-left: 0px;
    }

    .sl-texts .line{
        margin-left: 50px;
       
        
    }

} 